* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    display: flex;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 208, 78);
    font-family: "Figtree", sans-serif;
}

.blog-card {
    height: 420px;
    margin: 0 auto;
    width: 310px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 0px 0px rgb(17, 17, 17);
    outline: 1px solid black;
}


.illustration {
    height: 165px;
    border-radius: 10px;
    margin: 17px 17px 17px 17px;
}


.learning {
     background-color: rgb(244, 208, 78);
     color: rgb(17, 17, 17);
     width: fit-content;
     border-radius: 4px;
     /* margin-left: 15px; */
     padding: 4px 12px;
     font-family: "Figtree", sans-serif;
     font-size: 0.75rem;
     font-weight: 800;
}

.info , .author{
    padding-left: 17px;
}

.published {
    font-size: 0.70rem;
    padding: 12px 10px 10px 0px;
}

.heading {
    font-size: 1.3rem;
    font-weight: 800;
    cursor: pointer;
}

.heading:hover {
    color:rgb(244,208,78);
}

.blog {
    margin: 15px 0px 10px 0px;
    font-size: 0.85rem;
    color: rgb(107,107,107);
}

.author {
    display: flex;
    margin: 15px 0px 0px 0px ;
    text-align: center;
}

.name {
    /* margin: 7px 5px 0px 5px; */
    
    font-weight: 800;
    font-size: 0.7rem;
    align-self: center;
    padding-top: 5px;
}

.pfp {
    height: 32px;
    padding: 5px 10px 0px 5px;
}

.attribution {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.attribution a:link{ 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}

.attribution a:hover {
    text-decoration: underline;
}

