* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    display: flex;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 208, 78);
    font-family: "Figtree", sans-serif;
}

.blog-card {
    height: 522px;
    margin: 0 auto;
    width: 384px;
    border-radius: 16px;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 0px 0px rgb(17, 17, 17);
    outline: 1px solid black;
}


.illustration {
    height: 200px;
    border-radius: 10px;
    margin: 25px;
    margin-bottom: 18px;
}


.learning {
     background-color: rgb(244, 208, 78);
     color: rgb(17, 17, 17);
     width: fit-content;
     border-radius: 4px;
     /* margin-left: 15px; */
     padding: 4px 12px;
     font-family: "Figtree", sans-serif;
     font-size: 0.95rem;
     font-weight: 800;
}

.info , .author{
    padding-left: 25px;
}

.published {
    font-size: 0.85rem;
    font-weight: 500;
    padding: 14px 10px 20px 0px;
    color: rgb(17, 17, 17);
}

.heading {
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
}

.heading:hover {
    color:rgb(244,208,78);
}

.blog {
    margin: 20px 0px 10px 0px;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(107,107,107);
    width: 350px;
}

.author {
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.name {
    /* margin: 7px 5px 0px 5px; */
    
    font-weight: 800;
    font-size: 0.95rem;
    align-self: center;
    padding-top: 5px;
}

.name:hover {
    color: rgb(244,208,78);
}

.pfp {
    height: 38px;
    padding: 5px 10px 0px 0px;
}

.attribution {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.attribution a:link{ 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}

.attribution a:hover {
    text-decoration: underline;
}

